.launch-screen {
  position: fixed;
  inset: 0;
  z-index: 999999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #090909;

  opacity: 1;
  visibility: visible;

  transition:
    opacity 0.7s ease,
    visibility 0.7s ease;
}

.launch-screen.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.launch-logo {
  width: 180px;
  max-width: 45vw;

  opacity: 0;

  transform: scale(0.92);

  animation: logoIntro 1.5s ease forwards;

  filter:
    drop-shadow(0 0 0 rgba(255, 140, 0, 0));
}

@keyframes logoIntro {

  0% {
    opacity: 0;
    transform: scale(0.92);

    filter:
      drop-shadow(0 0 0 rgba(255,140,0,0));
  }

  60% {
    opacity: 1;
    transform: scale(1);

    filter:
      drop-shadow(0 0 18px rgba(255,140,0,.35));
  }

  100% {
    opacity: 1;
    transform: scale(1);

    filter:
      drop-shadow(0 0 28px rgba(255,140,0,.55));
  }
}