:root{

--bg:#070707;

--card:#121212;

--accent:#ff6b00;

--accent2:#d92727;

--text:#ffffff;

--text2:#bfbfbf;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

font-family:"Comfortaa",sans-serif;

color:var(--text);

overflow-x:hidden;

}